body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/ASSET/Fond_Vaca_Meet.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.Titre_Camping {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.Titre_Camping h1 {
    font-size: 3vw;
    color: #fefefe;
}

/*----------------------- Fenetre Modal mdp-vacancier --------------------------------- */
.modal_mdp_vacancier {
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: fixed;
    top: 10%; /* Centrer un peu plus bas */
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 30vh; /* Augmentation de la hauteur */
    max-width: 600px;
    padding: 2vh; /* Ajout de padding */
    overflow: auto; /* Permettre le défilement si nécessaire */
}

.modal-content-mdp {
    width: 100%;
    display: flex;
    flex-direction: column; /* Éléments en colonne */
    align-items: center; /* Centrer les éléments */
    justify-content: space-around; /* Répartir uniformément */
}

#confirmPassword, #newPassword {
    width: 70%; /* Agrandir la largeur */
    margin: 1vh 0; /* Ajuster la marge */
}

#Save_New_Mdp_Vacancier, #Close_Modal_mdp_Vacancier {
    margin-top: 1vh;
    font-size: 1.2vw;
    padding: 1vh 2vw;
}

.modal_mdp_vacancier h2 {
    margin-bottom: 2vh; /* Ajuster la marge du bas */
}
/*-------------------------------- End Fenetre Modal mdp-vacancier -------------------------------------- */

/*----------------------- Fenetre Modal Gestion Compte --------------------------------- */
.modal_Gestion_Compte {
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: fixed;
    top: 10%; /* Centrer un peu plus bas */
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    max-width: 600px;
    padding: 2vh; /* Ajout de padding */
    overflow: auto; /* Permettre le défilement si nécessaire */
}

/* Styles pour le contenu de la fenêtre modale de gestion de compte */
.modal-content-Gestion-Compte {
    width: 100%;
    display: flex;
    flex-direction: column; /* Éléments en colonne */
    align-items: center; /* Centrer les éléments */
}

/* Styles pour les en-têtes des champs */
.modal-content-Gestion-Compte h2 {
    margin-bottom: 1vh; /* Ajuster la marge du bas */
}

/* Styles pour les champs de saisie */
.modal-content-Gestion-Compte input[type="text"] {
    width: 80%; /* Largeur des champs de saisie */
    margin-bottom: 1vh; /* Espacement entre les champs */
    padding: 1vh; /* Ajout de rembourrage */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 4px; /* Bordure arrondie */
}

/* Styles pour les boutons */
.modal-content-Gestion-Compte button {
    margin-top: 2%;
    width: 80%; /* Largeur des boutons */
    margin-bottom: 1vh; /* Espacement entre les boutons */
    padding: 1vh; /* Ajout de rembourrage */
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Suppression de la bordure */
    border-radius: 4px; /* Bordure arrondie */
    cursor: pointer; /* Curseur de souris pointer */
    transition: background-color 0.3s; /* Transition fluide de la couleur de fond */
}

/* Au survol, changez la couleur de fond du bouton */
.modal-content-Gestion-Compte button:hover {
    background-color: #45a049;
}
/*-------------------------------- End Fenetre Modal Gestion Compte -------------------------------------- */

/* Gestion Actif */
.gestion_tableau{
display: flex;
background-color: rgba(255, 255, 255, 0.8);
box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
border-radius: 0.5rem;
border: 1px solid #888;
margin-left: 3%;
margin-right: 3%;
margin-bottom: 2%;
justify-content: center;
align-items: center;
}

.active {
    color: blue;
}

#gestionStructure, #gestionPlanning, #gestionAnimation {
    cursor: pointer;
    margin-left: 3%; margin-right:  3%;
}


.structure, .planning, .animation {
    margin: 0 3%;
    font-size: 2vw;
}

/* Fin Gestion Actif */

/* Gestion select date planning */
#dateSelectors{
display: flex;
background-color: rgba(255, 255, 255, 0.8);
box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
border-radius: 0.5rem;
border: 1px solid #888;
margin-left: 3%;
margin-right: 3%;
justify-content: center;
gap: 1%;
align-items: center;
font-size: 1.8vw;
}

button {
cursor: pointer;
background-color: transparent;
border: none;
font-size: 1.5vw;
padding: 1vh 1vw;
border-radius: 0.25rem;
}

#addRow, #addAnimation, #addActivity, #validateActivity, #ComeBack,#GestionCompte, #MDP_Vacancier, #Save_New_Mdp_Vacancier {
background-color: #4CAF50;
color: white;
border: none;
margin-left: 3%;
}

#addRow:hover, #addAnimation:hover, #addActivity:hover, #validateActivity:hover, #ComeBack:hover,#GestionCompte:hover, #MDP_Vacancier:hover, #Save_New_Mdp_Vacancier:hover {
background-color: #218838;
box-shadow: 0px 0px 10px 0px rgba(40,167,69,0.75);
transform: scale(1.05);
margin-left: 3%;
margin-bottom: 2%;
}
#refreshPlanning{
background-color: #4CAF50;
color: white;
border: none;
}
#refreshPlanning:hover{
background-color: #218838;
box-shadow: 0px 0px 10px 0px rgba(40,167,69,0.75);
transform: scale(1.05); 
}

#cancelActivity, #Close_Modal_mdp_Vacancier {
    background-color: #dc3545;
    color: white;
    border: none;
    margin-left: 3%;
    margin-bottom: 2%;

}

#cancelActivity:hover, #Close_Modal_mdp_Vacancier:hover {
    background-color: #c82333;
    box-shadow: 0px 0px 10px 0px rgba(220,53,69,0.75);
    transform: scale(1.05);
}

input.startDate{
    font-size: 1.1vw;
}

input.endDate{
    font-size: 1.1vw;
}

.titre-planning {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}

.titre-planning h2 {
    margin-right: 3%;
    font-size: 2vw;
}

table{
    width: 100%; 
    max-width: 93%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    table-layout: fixed; /* Colonne de largeur fixe */
    height: 93vh; /* Hauteur adaptée à la vue */
    overflow: auto; /* Permettre le défilement */
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 1vh 1vw;
    font-size: 2vh;
}


th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.hidden, .hidden_Id {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2vh 2vw;
    border: 1px solid #888;
    width: 80vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.select-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.select-group select, .select-group input {
    flex: 1;
    margin-right: 2%;
}

.button-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
