body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/ASSET/fond_gestion.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/*---------------- Gestion tire application ----------------------*/
.Titre_Camping { display: flex; margin-left:  3%; margin-top: 2%; margin-bottom: 5%;}
.Titre_Camping h1{ font-size: 3vh;}

/*---------------- Gestion Modal modification mdp vacancier ----------------------*/
.modal_mdp_vacancier{
    margin-left:  3%;
    width: fit-content; 
    width: 100%; 
    height: 100%;
}
#newPassword {
    margin-right: 1%;
}

.modal-content-mdp {
    display: flex;
    align-items: center; 
    padding: 15px; 
    width: fit-content; 
    width: 100%; 
    height: 100%;
}

.modal_mdp_vacancier h2{font-size: 2vh;}
/*---------------- Gestion Actif ----------------------*/
.active {
    color: blue; /* couleur pour indiquer l'élément actif */
  }

  #gestionStructure, #gestionPlanning, #gestionAnimation { /* pointeur souri sur l'élément */
    cursor: pointer;
}

.gestion_tableau {
    display: flex;
    justify-content: center;
    align-items: center;
}

.structure{
    margin-right: 3%; 
    size: 2vh;
}
.planning{
    margin-left: 3%; 
    size: 2vh;
}

/*---------------- Gestion Structure et Activité ----------------------*/
table {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    max-width: 90vw; /* Utilisation de vw pour la largeur maximale */
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); /* Utilisation de rem pour l'ombre */
    border-radius: 0.5rem; 
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.hidden {
    display: none;
}
/* Masquer la colonne ID */
.hidden_Id {
    display: none;
}



/*------------------------------- Style Boutton ---------------------------------------------------*/
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-left: 5%;
    margin-bottom: 0.5%;
    font-size: 1em; 
    width: auto;
}

#addRow, #addAnimation, #addActivity, #validateActivity, #refreshPlanning, #ComeBack, #MDP_Vacancier, #Save_New_Mdp_Vacancier {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem; 
}

#addRow:hover, #addAnimation:hover, #addActivity:hover, #validateActivity:hover  , #refreshPlanning:hover , #ComeBack:hover, #MDP_Vacancier:hover, #Save_New_Mdp_Vacancier:hover {
    background-color: #218838; /* Vert plus clair */
    box-shadow: 0px 0px 10px 0px rgba(40,167,69,0.75);
    transform: scale(1.05);
}

#cancelActivity, #Close_Modal_mdp_Vacancier {
    background-color: #dc3545; /* Rouge */
    color: white;
}

#cancelActivity:hover, #Close_Modal_mdp_Vacancier:hover {
    background-color: #c82333; /* Rouge plus clair */
    box-shadow: 0px 0px 10px 0px rgba(220,53,69,0.75);
    transform: scale(1.05);
}

/*------------------------------- Style planning ---------------------------------------------------*/
#dateSelectors {
    display: flex;
    margin-left: 5%;
    gap: 1%;
    align-items: center; 
}

.titre-planning {
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.titre-planning h2{
    margin-left: 5%;
    margin-right: 3%;
    size: 0.5vh;
}

table, th, td {
    border: 1px solid black;
    height: 4vh;
}

th, td {
    text-align: left;
    font-size: 1vw;
}

th {
    background-color: #f2f2f2;
}



/* ---------------------------------   fenetre modal pour ajout Evenement dans le planning--------------------------------- */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; /* Se situer au-dessus de tout */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: fit-content; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.select-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.select-group select, .datetime-group input {
    flex: 1; /* Égalise la largeur des éléments */
    margin-right: 2%;
}

.button-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
